@import "tailwindcss";

@theme {
  --color-main: #4169e1;
  --color-light-blue: #6787e7;
  --color-gradient: #485eac;
  --color-dark: #0a112d;
  --color-input-field: #e0e3f4;
  --color-background: #f3f6fe;
  --color-pale-blue: #8496cb;
  --color-red: #c91215;
  --color-light-blue-gray: #c4cce5;

  --text-h1: 64px;
  --text-h2: 48px;
  --text-h3: 32px;
  --text-h4: 24px;
  --text-h5: 20px;
  --text-body1: 24px;
  --text-body2: 15px;

  --leading-h1: 82px;
  --leading-h2: 64px;
  --leading-h3: 42px;
  --leading-h4: 32px;
  --leading-h5: 28px;
  --leading-body1: 32px;
  --leading-body2: 22.5px;

  --radius-default: 20px;
}

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    transition: color 150ms;
  }

  a:hover {
    color: var(--color-main);
  }
}

@layer components {
  .container {
    @apply px-5 lg:px-14 mx-auto;
  }
}

@layer utilities {
  .bg-custom-gradient {
    position: relative;
    z-index: 1;
  }
  .bg-custom-gradient::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #e0e4fd 0%, #f3f6fe 100%);
  }
}

.tippy-box[data-theme~="custom"] {
  background-color: var(--color-dark);
  color: white;
  border-radius: 30px;
  padding: 16px;
}

.tippy-box[data-theme~="custom"] > .tippy-arrow {
  color: var(--color-dark);
}
